# ignore the virtual environment folder
venv/
.venv/
env/

# ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore the env files
.env
.env.*

# ignore database files
*.sqlite3

# Editor / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

node_modules/
dist/
build/

# ignore the notebook files
*.ipynb




########################
# frontend
########################
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ignore the datas in the contents folder
Backend/contents/plots/
Backend/contents/sample_data/