# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
Backend/venv/
Backend/.venv/

# Environment variables
.env

# IDE/project files
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

node_modules