:root { 
  color-scheme: dark; 
  font-size: 12px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  background: #0f0f0f !important;
  color: white !important;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif !important;
}

*, 
::after, 
::before {
  box-sizing: border-box !important;
}

